.container {
  background-color: var(--color-3);
}

.map {
    width: 1000px;
    height: 400px;
  }
  
  .visit {
    text-align: center;
    color: var(--color-2);
  }
  
  .tekstas {
    padding: 35px;
  }
