.contact{
  padding: 10px;
}

.contact-info {
  padding-left: 15px;
}

.kontaktai{
  padding-top: 35px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
}

@media only screen and (max-width: 1020px) {
  .kontaktai {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 780px) {
  .kontaktai {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .kontaktai {
    grid-template-columns: 1fr;
  }
}