.naujienos {
  padding-left: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 20px;
}
  

.news-antraste {
  text-align: center;
  color: var(--color-2);
  padding-top: 35px;
  text-decoration-line: underline;
}

@media only screen and (max-width: 1020px) {
  .naujienos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 780px) {
  .naujienos {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 450px) {
  .naujienos {
    grid-template-columns: 1fr;
  }
}
