.content0 .child {
  margin-left: 10px;
  margin-right: 10px;
  width: calc(33%);
}

.content0 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.content2 {
  text-align: center;
  color: var(--color-2);
  padding-top: 30px;
} 

.pav1 {
  margin: 35px;
}